

header{
    width: 118.75rem;
    height: 70px;
    background-color:#1d2124;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logo{
    display: flex;
    align-items: center;
       
}
.logoname  { 
font-family: 'Open Sans', sans-serif;
font-weight: bold;
font-size: 22pt;
color: rgba(255, 255, 255, 255);
}


.logopict{
    height: 70px;;
    width: 81px;
    
    background-image: url(../img/logo-img@1X.png);
    background-repeat: no-repeat;
  background-color: #1a1d20;
  background-position: center;
  background-size: 27px 27px;
  }
 
.hedlinks {
    display: flex;
    font-family: 'Open Sans', sans-serif;
    font-size: 15pt; 
    color: rgba(255, 255, 255, 255); 
    text-transform: uppercase;
    text-decoration: none;
    justify-content:center; 
}
.hlinks2, .hlinks3, .hlinks4, .hlinks5, .hlinks6{
    margin-left: 2rem;
    
    
    text-transform: uppercase;
    
}
.hedlinks a{
    text-decoration: none;
    color: rgba(255, 255, 255, 255); 
}
.faind{
    height: 70px;
    width: 68px;
    background-color: #1a1d20;
    padding: 21px;
    box-sizing: border-box;
}
.faind a{
    color: rgba(255, 255, 255, 255); 
   }

   .news{
       width: 118.75rem;
       height: 22.5rem;
        background-image:linear-gradient( rgba( 0, 0,0, 0.2), rgba(0,0,0, 0.2)), url(../img/header-bg.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: -550px;
        background-attachment: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
   }
   .newshead{
    font-family: 'Open Sans', sans-serif;
    font-size: 27px; 
    color: rgba(255, 255, 255, 255); 
    text-transform: uppercase;
    margin-bottom: 2.5rem;
    
   }
   .bunntons{
       display: flex;
       height: 3.5rem;
       width: 24rem;
       justify-content: space-around;
       
   }
   .subsc a, .art a{
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-size: 1.2rem; 
    color: rgba(255, 255, 255, 255); 
    line-height: 3.5rem;
 
   }
    .subsc , .art{
       width: 170px;
       height: 55px;
       border-radius: 3px;
    text-transform:capitalize;
    text-align: center;
    margin: auto 1px;
    
   }
   .subsc {
    background-color: #89ca62;
   }
   .art{
    background-color: #14b9d5;
   }
   .postshole h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 27pt;
    color: rgba(24, 180, 207, 255);
    text-transform:uppercase;
    color: #18b4cf;
    font-weight: bold;
    text-align: center;
    padding: 43px 0px 52px 0px;
    margin: 0 0 0 0;
   }
   .postshole{
       background-color: #f2f2f2;
      width:  118.75rem;
      height: 65rem;
      text-align: center;
   }
   .postsphoto{
       display: flex;
     align-content: flex-start;
       flex-wrap: wrap;
       justify-content: center;
         width: 118.75rem;
   }
   .postsphoto1 > div{
       background-color: #ffffff;
       margin-bottom:1.9rem;
     margin-right:1.9rem;        
   }
  .postsphoto2 > div{
    background-color: #ffffff;
    margin-bottom:1.9rem;
  margin-right:1.9rem;        
}
.postsphoto3> div{
    background-color: #ffffff;
    margin-bottom:1.9rem;
        
}
   .postsphoto p{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: rgba(53, 58, 61, 255);
    text-align: center;
    font-weight: bolder;
   }
   
   .vanglo {
height: 320px;
}
.sunrise{
    height: 441px;
    }
    .stargaze{
        height: 355px;
        }
    .royal  {
            height: 321px;
             }
    .sunset  {
            height: 309px;
            }         
    .glorious  {
         height: 441px;
            }        
    .clients{
        box-sizing: border-box;
           width: 118.75rem;
           height: 590px;
           background-image:linear-gradient( rgba( 0, 0,0, 0.2), rgba(0,0,0, 0.2)),url(../img/parallax-bg.jpeg);
           background-repeat: no-repeat;
           background-size: cover;
           background-position: center;
           background-attachment: fixed;
        }
     
    .clients::before{
        content: " ";
        background: rgba( 0, 0, 0, 0.9);
        background-position: center;
    }
        .clientscont{
        padding-top: 121px;
        height: 192px;
        display: grid;
        grid-template-areas:
        "clientsh2 clientsh2 clientsh2 clientsh2"
        "clientshr clientshr clientshr clientshr"
        "clientslogo1 clientslogo2 clientslogo3 clientslogo4";
        grid-column-gap:76px;
        grid-row-gap:60px;
        justify-content: center;
        align-items: center;
       }
       .clientsh2{
    font-family: 'Open Sans', sans-serif;
          font-size: 2rem;
        color: rgba(255, 255, 255, 255);
        text-transform: uppercase;
        text-align: center;
        grid-area: clientsh2;
        height: 1.9rem;
       }
       .clientshr{
           width: 3.75rem;
           border: solid 3px #14b9d5;
           grid-area: clientshr;
           
       }
       .c1lientslogo{
        grid-area: clientslogo1;
       }
       .clientslogo2{
        grid-area: clientslogo2;
       }
       .clientslogo3{
        grid-area: clientslogo3;
       }
       .clientslogo4{
        grid-area: clientslogo4;
       }
       .toprated{
           width: 118.75rem;
           height: 24rem;
       }
       .toprated h2{
    font-family: 'Open Sans', sans-serif;
        font-size: 27pt;
        color: rgba(24, 180, 207, 255);
        text-align: center;
        text-transform: uppercase;
        padding: 2rem 0.01rem 1.3rem 0.01rem;
       }
       .topratedimg{
           display: flex;
           flex-wrap: nowrap;
           }
           .hotnews{
            width: 118.75rem;
            height: 1683px;
        }
        .hotnews h2{
            font-family: 'Open Sans', sans-serif;
         font-size: 27pt;
         color: rgba(24, 180, 207, 255);
         text-transform:uppercase;
          color: #18b4cf;
          text-align: center;
          margin-bottom: 0px 0px 51px 0px;
        }
        .hotels{
            display: grid;
            grid-row: auto;
           grid-template-columns: 1fr 1fr 1fr 1fr ;
           grid-template-rows: 1fr 1fr 1fr  1fr ;
           justify-content: center;
           grid-row-gap: 43px;
           grid-column-gap: 35px;
           grid-template:
           "prophecy prophecy prophecy nebula"
           " western  western maedows maedows"
           "wanderlust wanderlust twin twin"
           "prism king king king"

           }
           .prophecy{
              grid-area: prophecy;  
           }
           
           .prophecy, .king{
            display: grid;
            grid-template-columns: 483px 374px;
            align-content: right;
           
           }
           .prophecytext, .kingtext{
               background-color: #f9f7f7;
               width: 374px;
               height: 259px;
               
                }
                .prophecytext h4, .kingtext h4{
                    font-family: 'Open Sans', sans-serif;
                    font-size: 18px;
                    color: rgba(53, 58, 61, 255);
                    margin-left: 70px;
                   
                }
           .prophecytext p, .kingtext p{
            display: block;
            width: 320px;
            margin: 0px 24px;
            font-family: 'Open Sans', sans-serif;
            font-size: 14px;
            color: rgba(91, 100, 105, 255);
            text-align: right;
            
           }
           .nebula{
               height: 258px;
               width: 277px;
               background-color: #f9f7f7;
               grid-area:nebula;
               justify-self: end;
           }
           .nebula p{
            font-family: 'Open Sans', sans-serif;
            font-size: 18px;
            color: rgba(91, 100, 105, 255);
            text-align: center;
            font-weight: bold;
            margin: 8px 0px;
           }
           .western{
           grid-area: western;}
           .maedows{
           grid-area: maedows;
           justify-self: end;}

           .western, .maedows, .wanderlust, .twin {
            height: 418px;
            width: 554px;
            background-color: #f9f7f7;
           }
           .wanderlust{
            grid-area:wanderlust;}
            .twin{
            grid-area: twin;
            justify-self: end;
        }
            .king{
                grid-area: king;
            }
 
           
           .westerntext h4, .maedowstext h4, .wanderlusttext h4,  .twintext h4{
            font-family: 'Open Sans', sans-serif;
            font-size: 18px;
            color: rgba(53, 58, 61, 255);
            width: 528px;
            text-align: right;
            margin: 20px 0 22px 0px;
        }
           .westerntext p, .maedowstext p, .wanderlusttext p,  .twintext p{
            font-family: 'Open Sans', sans-serif;
            font-size: 14px;
            color: rgba(91, 100, 105, 255);
            text-align: right;
            width: 505px;
            height: 77px;
            overflow: hidden;
            margin-left: 22px;
           }
           .prism{
            height: 258px;
            width: 277px;
            background-color: #f9f7f7;
            grid-area: prism;
        }
        .prism p{
         font-family: 'Open Sans', sans-serif;
         font-size: 18px;
         color: rgba(91, 100, 105, 255);
         text-align: center;
         font-weight: bold;
         margin: 8px 0px;
        }
        footer{
        height: 80px;
        width: 118.75rem;
        background-color: #1d2124;
        
        }
        .footercont{
            width: 73rem;
            height: 80px;
            margin: 0px auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .footercont p{
        color: rgba(255, 255, 255, 255);
        font-family: 'Open Sans', sans-serif;
        font-size: 13pt; 
        
        }
        .footerlogo{
           
             display: flex;
            vertical-align: center;
            
           
        }
        .footerlogo :last-child {
           height: 16px;
        }

       