body{
    width: 1920px;  
}
.first, .second, .third, .foth, .fifth{
    width: 100vw;
}

.container{
    margin: 0 auto;
}
.first{
   
    background-image: url(./images/section-1\(header\).jpg);
}
.hedMenu{
    display: flex;
   align-items: center;
   justify-content: center;
   height: 120px; 
   background-color:rgb(39%, 38%, 36%, 0.7);;
   
}

.logo{
    height: 120px;
    width: 168px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    color: rgba(255, 255, 255, 255);
position: relative;
z-index: 1;

}
    .logo::before{
        content: " ";
        width: 58px;
        height: 67px;
        left: -2px;
background-image: url(./images/logoImg.png);
background-repeat: no-repeat;
z-index: -1;
position: absolute;


}
.logo h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 15pt;
    font-weight: 200;
    color: rgba(255, 255, 255, 255);
    margin-left: 24px;
}
.logo h2 span{
    font-family: 'Montserrat', sans-serif;
    font-size: 15pt;
    font-weight: 800;
    text-transform: capitalize;
    color: #18cfab;
}
.menuItems{
    width: 640px;
    height: 120px; 
    cursor: pointer;
    margin-left: 259px;
    margin-bottom: 0px;
    
}
.menuItems li{
    height: 120px; 
    width: 120px;
    display: table-cell;
    text-align: center;
    vertical-align: middle; 
    font-family: 'Montserrat', sans-serif;
    list-style-type: none;
    font-weight: bold;
    font-size: 0.8rem;
    text-transform: uppercase;
    color: #b8b8b8;
}
.menuItems .hadMenAct{
  color:  #18cfab;
  border-bottom: 2px solid #18cfab
}
.btnContent{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height:402px;
    font-family: 'Montserrat', sans-serif;
    vertical-align: center;
    margin-top: 246px;
    margin-bottom: 224px;
}
.content{
    height: 195px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.content h4{
    font-size: 35px;
    color: rgba(255, 255, 255, 255);
    text-transform: uppercase;
    font-weight: bold;
    margin: 0px;

}
.content h4 span{
    color:  #18cfab;
    
}
.content h2{
     font-size: 69px;
    color: rgba(255, 255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
   margin: 0px;
    
}
.content h5{
    font-size: 29px;
    color: #bfbfbf;
   text-transform: capitalize;
   font-weight: 50;
   margin: 0px;
}
.buts{
    display: flex;
    width: 360px;
   
    justify-content: space-between;
    margin: 0px;
    }

    .buts .exp,.pur{
        width: 166px;
        height: 61px;
        color: rgba(255, 255, 255, 255);
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        font-size: 0.7rem;
        border-radius: 5px;
        box-shadow: 0-2px rgba(247, 242, 242, 1);
        border: 0px;
    }
    .buts .exp{
        background-color:  #18cfab;
    }
    .buts .pur{
        background-color:  #00cbf6
    }
    .awesomePct{
       height: 374px; 
       display: flex;
       justify-content: center;
    }
    .awesomePct div{
        width: 480px;
        flex-grow: 1;
    }
    .awesomePct div>p{
       font-size: 20px;
       text-transform: uppercase;
       margin-top: 49px;
    }
    .dif::before{
        content: "";
        width: 58px;
        height: 97px;
     
background-image: url(./images/section2/pointer.png);
background-repeat: no-repeat;

    }
    .unlim::before{
        content: "";
        width: 60px;
        height: 97px;
     
background-image: url(./images/section2/bulb.png);
background-repeat: no-repeat;

    }
    .full::before{
        content: "";
        width: 93px;
        height: 97px;
     
background-image: url(./images/section2/diamand.png);
background-repeat: no-repeat;

    }
    .respon::before{
        content: "";
        width: 99px;
        height: 97px;
     
background-image: url(./images/section2/comp.png);
background-repeat: no-repeat;

    }
    .dif, .unlim{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       background-color: #1c2a33;
       color: #18cfab;
       border-top: 7px solid  #18cfab;
     }
     .full, .respon{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       background-color: #18cfab;
       color: white;
       border-top: 7px solid white;
     }
     .serv{
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
    }
    

     .servMen{
         height: 73px;
         color: rgba(78, 78, 78, 255);
         margin: 0px;
         cursor: pointer;
              
     }
     .cliked{
        background-color: #18cfab !important;
        color: #ffffff !important;
     }
     .servMen li{
         display: table-cell;
         vertical-align: middle;
        height: 73px;
        width: 193px;
        border: 0.7px solid #ebebeb;
        background-color: #f8fcfe;
        text-align: center;
        padding: auto 1px;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        color: rgba(113, 113, 113, 255);
        
    }
    .servtext {
        width: 1154px;
        
    }
    .servtext div{
        
        align-items: center;
        margin-top: 24px;
        margin-bottom: 103px;

    }
      .servtext div>img{
        width: 194px;
        height:139px;
    }
    .servtext div>p{
       margin-left: 20px;
       font-size: 14pх;
    color: rgba(119, 119, 119, 255);
    font-family: 'Montserrat', sans-serif;
    height: 136px;
    text-overflow: clip;

    }
    .servtex{
        display: none;

    }
     .servtex.act{
        display: flex;
     }
     .bayInst{
        height:476px;
       
        background-image:linear-gradient( rgba( 0, 0,0, 0.7), rgba(0,0,0, 0.7)), url(./images/section2/bayInstImg.jpg);
        background-position: 70px ;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } 

    .bayInst h2{
        font-family: 'Montserrat', sans-serif;
        font-size: 39px;
        text-transform: uppercase;
        color: #18cfab;
        text-align: center;
        margin-bottom:35px; 
    }
    .bayInst h4{
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        font-weight: 100;
        color: rgba(216, 216, 216, 255);
        text-align: center;
        margin-bottom:76px; 
    }

 
    .bayInst button{
        width: 166px;
        height: 61px;
        color: rgba(255, 255, 255, 255);
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        font-size: 0.7rem;
        background-color:  #18cfab;
        border-radius: 5px;
        box-shadow: 0-2px rgba(247, 242, 242, 1);
        border: 0px;
    }
    .third{
        
        background-color: #f8fcfe;
       
    }
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .block-head{
        height: 221px;
        padding-top: 86px;
        
       }
  
    .block-head h3{
        font-family: 'Montserrat', sans-serif;
       
        font-size: 36px;
        font-weight: 10;
        text-align: center;
    }
    .block-head div{
        margin: 15px auto;
        width: 120px;
    }
   .block-head div :nth-child(1){
        margin: 0px;
       width: 76px;
       border-bottom: 1px solid #18cfab;
    }  
    .block-head div :nth-child(2){
        margin: 3px 0px 0px 12px;
        width: 76px;
        border-bottom: 1px solid #18cfab;
    }
    

    .amm-wk{
         height: 73px;
         color: rgba(78, 78, 78, 255);
         cursor: pointer;
              
     }
    .active{
        border-top:2px solid #18cfab !important;
        color: #18cfab !important;
     }
     .amm-wk li{
         display: table-cell;
         vertical-align: middle;
        height: 73px;
        width: 193px;
        border: 0.7px solid #ebebeb;
        background-color: #f8fcfe;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
         font-size: 16px;
        color: rgba(113, 113, 113, 255);
        text-transform: capitalize;
    }
    .portfolio-item{
        width: 1157px; 
        display: flex;
        flex-wrap: wrap;
    }
    .item{
        position: relative;
        width: 285px;
        height: 207px;
     }
     .item.addish{
        position: relative;
        display: none;
        width: 285px;
        height: 207px;
     }
  
.hover-wrapper {
    top: 0px;
   left: 0px;
   right: 0px;
   bottom: 0px;
   position: absolute;
   background-color: white;
   border-top: 3px solid #18cfaa;
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.link-box {
   background-color: white;
   border: 1px solid #18cfaa;
   border-radius: 100%;
   width: 40px;
   height: 40px;
   display: inline-block;
}
.link-box i {
   font-size: 13px;
   margin: 13px 13px;
   color: #18cfaa;
   display: inline-block;
}
.search-box {
   border: 1px solid #18cfaa;
   background-color: #18cfaa;
   border-radius: 100%;
   width: 40px;
   height: 40px;
  
   margin: 0 5px;
}
.search-box i {
   font-size: 12px;
   margin: 14px 13px;
   color: white;
   display: inline-block;
}
.hover-boxes {
  display: flex;
  justify-content: center;

}
.first-hover-text{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.85rem;
    color: rgba(24, 207, 171, 255);
    text-transform: uppercase;
    font-weight: bold;
    margin: 34px auto 12px auto;

}
.second-hover-text{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.65rem;
    font-weight: 200;
    margin: 0 auto;
    color: rgba(138, 138, 138, 255);
    
}
    
    
   
.button_load_more{
        width: 166px;
        height: 61px;
        color: rgba(255, 255, 255, 255);
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        font-size: 0.7rem;
        background-color:  #18cfab;
        margin-top: 71px;
        margin-bottom: 100px;
        border-radius: 5px;
        box-shadow: 0-2px rgba(247, 242, 242, 1);
        border: 0px;
    }
   
    .news{
        width: 1139px;
        height: 605px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 137px;
    }
    .fot-text{
        width: 263px;
        height: 72px;
        background-color: #f8fcfe;
        border: 0.3px solid lightgray;
        
    }
    .img-popst{
        position:relative;
        width: 263px;
    }
    .img-popst h4{
        font-family: 'Montserrat', sans-serif;
         margin-left: 13px;
        font-size: 18px;
        font-weight: bold;
        color: rgba(113, 113, 113, 255);
        height: fit-content;
        margin-top: 14px;
        
    }
    .foto-p{
        display: flex;
        justify-content: space-between;
        width: 200px;
        
    }
    .foto-p p{
        width: 85px;
        display: block;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        color: rgba(119, 119, 119, 255);
      
    }
    .foto-p :nth-child(1){
        border-right: 0.5px solid rgba(119, 119, 119, 255);
        margin-left: 17px;
    }
    .img-popst-hov{
        font-family: 'Montserrat', sans-serif;
        position:absolute;
        right: 0px;
        top: 0px;
        width: 66px;
        height: 68px;
        background-color: #203e38;
        color: #ffffff;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;

           
    }
    .img-popst-hov p{
        margin-bottom: 0px;
        font-size: 16px;
        color: rgba(255, 255, 255, 255);
    }
    .img-popst:hover .img-popst-hov{
        color: rgba(255, 255, 255, 255);
        background-color: #18cfab;
    }
 .img-popst:hover .fot-text h4{
        color: #18cfab;
        
    }
    
        .fifth{
        height: 851px;
        background-image:linear-gradient( rgba( 0, 0,0, 0.3), rgba(0,0,0, 0.3)), url(./images/section5/section-3.jpg);
        background-position-y: -295px;
        font-family: 'Montserrat', sans-serif;
    }
    .fifth .block-head h3{
        color: #ffffff;
    }
  
    .quatetion{
       margin-top: 15px;
        margin-bottom: 44px; 
             
           }
    .fifth-block-cont{
        width: 1098px;
        font-family: 'Montserrat', sans-serif;
        font-size: 0.9rem;
        color:rgba(187, 187, 187, 255);
        text-align: center;
    }
  
   .emploee-data{
       display: none;
   }
   .emploee-data.view{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 225px;
    margin-bottom: 94px;
    text-align: center;
}
    .name{
        font-family: 'Montserrat', sans-serif;
        font-weight: 900;
        font-size: 1rem;
        color: rgba(24, 207, 171, 255);
        text-transform: uppercase;
    }
    .position{
        font-family: 'Montserrat', sans-serif;
        font-weight: 100;
        font-size: 0.65rem;
        color: white;
        text-transform: uppercase;
        margin-top: 12px;
    }
     .emploee-data-ph img{
       
        border: 1px solid  #18cfab;
          border-radius: 50%;
        
     } 
    .emploee-data-ph{
        transform: scale(2);
        position: relative;
    }
    .emploee-data-ph::before {
        content: '';
          position: absolute;
          top: -4px;
          bottom: -4px;
          left: -4px;
          right: -4px;
          border-radius: 50%;
          background: radial-gradient( rgba(24, 207, 171, 0.5) , rgba(24, 207, 171, 0.3));
    
          z-index: -2;
        }
    .emploee-scroll{
        width: 496px;
        display: flex !important;
        align-items: center;
        justify-content: space-around;
    }
    .emploee-scroll .slick-center img{
        box-sizing: border-box;
        border: 1px solid #18cfab;
        border-radius: 50%;
        

    }
   
    .emploee-scroll i{
        width: 31px;
        height: 31px;
        border:0.5px solid white;
        color: white;
        padding-left: 7px;
        cursor: pointer;
        
    }
    .sixth{
        height: 108px;
        background-color: #22353f;
        width: 100vw;
        font-family: 'Montserrat', sans-serif;
    }
   .fotter{
    display: flex;
    height: inherit;
    justify-content: center;
    align-items: center;
   }

    .sixth p{
        font-size: 14px;
        color: rgba(174, 174, 174, 255);
        margin: 0px 0px 0px 5px;
    }
    .sixth a{
     
        text-decoration: none;
        color: #18cfab;
        padding: 0 2px 0 3px;
       
    }
    .sixth a::after{
        content: " ";
        height: 14px;
        width: 0.6px;
        border-left: 0.5px solid rgba(174, 174, 174, 255);
        margin-left: 8px;
       }



    