body{
    background-color: darkviolet;
            }
          .header{
            background-color: aqua;
            width: 100vw;
            height: 100px;
            display: flex;
            justify-content: space-between;
          }
          .login{
              width: 250px;
              height: inherit;
              background-image: url(./img/logo.png);
              background-position-y: 150px;
             
          }
          .registerBtn{
            display: none;
            width: 150px;
            height: 80px;
            margin: auto 10px;  
          }
          .newCard {
            display: none;
            width: 150px;
            height: 80px;
            margin: auto 10px;
          }

          .hide {
              display: none;
          }

          .filtersBlock{
              width: 100%;
              height: 100px;
              background-color: lightgrey;
              display: flex;
          }
          /* .card-holder{
              width: 95%; */
              /* height: 500px; */
              /* margin: 10px auto;

              background-color: lightblue;

          } */
          .modalRegister {
            display: none;
            /* Hidden by default */
            position: fixed;
            /* Stay in place */
            z-index: 1;
            /* Sit on top */
            padding-top: 100px;
            /* Location of the box */
            left: 0;
            top: 0;
            width: 100%;
            /* Full width */
            height: 100%;
            /* Full height */
            overflow: auto;
            /* Enable scroll if needed */
            /* background-color: rgb(0, 0, 0); */
            /* Fallback color */
            /* background-color: rgba(0, 0, 0, 0.4); */
            /* Black w/ opacity */
        }
        .modalCard {
            display: none;
            /* Hidden by default */
            position: fixed;
            /* Stay in place */
            z-index: 1;
            /* Sit on top */
            padding-top: 100px;
            /* Location of the box */
            left: 0;
            top: 0;
            width: 100%;
            /* Full width */
            height: 100%;
            /* Full height */
            overflow: auto;
            /* Enable scroll if needed */
            /* background-color: rgb(0, 0, 0); */
            /* Fallback color */
            /* background-color: rgba(0, 0, 0, 0.4); */
            /* Black w/ opacity */
        }
        .active {
            display: block;
        }
        .close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
            cursor: pointer;
        }
        .modal-content {
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 250px;
        }
    

        


/* мои классы */
.hidden{
    display: none;
}

.container{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 95%;
    /* height: 500px; */
    margin: 10px auto;

    background-color: lightblue;
    }
.card{
    width: 22%;  
    border: 1px solid white;
    margin: .5%;
    background-color: rgb(92, 129, 189);
    position: relative;
}
.card-content{
    margin: 2%;
    margin-bottom: 15%;
}
.card-options{
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0px;
    right: 0px;       
}
.show{
    margin: 2%;
    margin-bottom: 15%;   
}
.showLess{
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: blue;
}