td, td {
    border: 1px solid #e0e0e0;
    font-size: 16px;
color: rgba(72, 72, 72, 255);
font-family: 'Arimo', sans-serif;
text-transform: uppercase;
height: 69px;
width: 277px;
/*font-weight: bold;*/
    
}
table{
    border-collapse: collapse;
    background: #fafafa;
    text-align: center;
}
.row1 p{
    font-size: 30px;
    margin: 1px;
}

.row1 :nth-child(2){
    background: #89c331;
    font-weight: bolder;
    letter-spacing: 2px;
    color: white;
    
}
.row1 :nth-child(3){
    background:#f04a56;
    font-weight: bolder;
    letter-spacing: 2px;
    color: white;
}
.row1 :nth-child(4){
    background:#20807c;
    font-weight: bolder;
    letter-spacing: 2px;
    color: white;
}
tr:nth-of-type(2){
     height: 89px;
    
}

tr:nth-of-type(3){
    background: #f2f2f2;
        
}

tr:nth-of-type(4){
    background: #e3e3e3;
    
}
tr:nth-of-type(5){
    background: #f2f2f2;
}
tr:nth-of-type(6){
    background: #e3e3e3;
    
}
tr:nth-of-type(7){
    background: #f2f2f2;
}
tr:nth-of-type(8){
    background: #e3e3e3;
    }
.fa {
   margin-right: 12px;
    color: #848484;
}
.price{
    border: none;
    
    
    
}
.pricecom{
    display: inline-block;
    }
.pricecom p{
    font-size: 1 rem;
    text-align: left;
    margin: 0.28rem 0 0 0;
}
.pricecom span{
    font-weight: bolder;
    font-size: 1.6rem;
    text-align: left;
    display: block;
}

.doll{
    font-size: 4rem;
    font-weight: bolder;
    display: inline-block;
   
}

input{
        color: #e3e3e3;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        width: 192px;
        height: 49px;
        border-radius: 3px;
}
.buttons :nth-child(1) input {
background: #484848;
}
.buttons :nth-child(2) input {
 background: #89c331;
}
.buttons :nth-child(3) input {
    background:#f04a56;
 }
 .buttons :nth-child(4) input {
    background:#20807c;
 }
 .buttons :hover{
    color: black;
 }