.navy
{
  /*width: 100px;*/
  margin-left: 220px;
}
.navy li
{ display: inline-block;
  height: 50px;
  margin-top: 20px;
}
.navy a
{
color:#16a085;
 font-size: 18px;
 font-weight: bold;
 text-transform: uppercase;
 margin-left: 120px;
text-decoration:none;
letter-spacing: 0.1em;

}
.image
{
width: 2280px;
height: 790px;
background-image: url(./pict.png);
background-repeat: no-repeat;
}
.blocktwo
{
    width: 1280px;
    height: 650px;
    background-color:#f5f6f7;
   
}

.repp
{
  color: #373737;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  margin-left: 342px;
padding-top: 59px;
  letter-spacing: 0.1em;
  }
  .maintxt
  {
    color: #373737; 
    font-size: 16px;
    font-weight: bold;
    line-height: 150%; 
    text-align: center;
    padding-left: 113px;
    padding-right: 108px;
    padding-top: 110px;
    letter-spacing: 0.1em;

  }
  .button 
  {
    display: inline-block;  
    border: 1px solid green;
      width: 192px;
      height: 51px; 
      background-color: #16a085;
      margin-top: 20px;
      margin-left: 540px;
  }
  .button a
{   
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;  
    text-decoration: none;
    padding-top: 519px;
   letter-spacing: 0.3em; 
  }
  .bottom
  {
    width: 1280px;
    height: 200px;
    color: #373737;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.15em;
    margin-left: 780px;
  }