
body{
background-image:url(https://cdn.pixabay.com/photo/2016/09/08/12/00/starry-sky-1654074_1280.jpg);
background-repeat: no-repeat; 
width: 100%;
height: 100%;
overflow: hidden;
}
#site {

width: 100vw;
height: 100vh;
position: absolute;
bottom: 20px;
transform-origin: 50% 70%;
transform: perspective(300px) rotateX(30deg);
}

#text{
    width: 500px;
    height: 900px;
    font-size: 20px;
    font-weight: bold;
    color: coral;
    text-align: center;
    position: absolute;
   bottom: 0px;
    left : calc((100vw - 500px) / 2);
     animation-name: textmuve;
    animation-duration:  30s;
    animation-iteration-count: infinite;
   
} 
 
@keyframes textmuve {
    from{ transform: translateY(100%);
        
        }
        
    to{        
            transform:translateY(0%) ; 
           
        }
                    }
    
