.site{
    width: 1366px;
    height: 768px;
   background-image: linear-gradient( rgba( 0, 0,0, 0.5), rgba(0,0,0, 0.5)), url(./images/background@1X.png);
   background-repeat:no-repeat;
}

.hedder{
    width: 1070px;
    margin: 0px auto;
}
.logo-link {
 background-image: url(./images/crop@1X\ \(5\).png);
 background-repeat:no-repeat;
    margin-top: 49px;
    margin-left: 170px;
    padding-left: 57px;
    padding-top: 10px;
}


.logo-link a{
    text-decoration: none;
}
.logo-link h2:first-child {
     font-family: Verdana, sans-serif;
    font-size: 22pt;
    color:#ffffff;
    text-transform: uppercase;
    margin-top: -17px;
    margin-bottom: 0px;
    margin-left: 8px;
 
  
}
.logo-link h2:last-child {
     font-family: Verdana, sans-serif;
   font-size: 13pt;
   color:#ffffff;
   text-transform: uppercase;
   margin-top: 0px;
   margin-bottom: 0px;
   margin-left: 8px;
   text-align: justify;
 
}

   
   .logo-link {
    float: left;
    margin-left: 15px;
 
}
.hedder p{
    color: rgba(255, 255, 255, 255);
    display: block;
    width: auto;
    text-align: right; 
    margin-top: 57px;
    margin-left: 697px;
   float: left;   
}
.logo-link:hover h2{
    color: #f26522;
}
.logo-link:hover{
background-image: url(./images/logo@1X.png);
}

.hedder:after {
    content: "."; /* добавить содержимое: "." */
    display: block;  /* сделать блоком, т.к. inline не может иметь clear */
    clear: both;  /* с обеих сторон clear */
    visibility: hidden; /* сделать невидимым, зачем нам точка внизу? */
    height: 0;  /* сделать высоту 0, чтобы не занимал место */
  }
.main{
    text-align: center;
    margin-left: 157px;
    margin-top: 48px;
}

.images:hover img{
    border: transparent 2px solid;
    border-image: linear-gradient( #fefefe ,#010101);
-moz-border-image: -moz-linear-gradient(#fefefe ,#010101);
-webkit-border-image: -webkit-linear-gradient#fefefe ,#010101);
border-image-slice: 1;
box-sizing: border-box;

}
.images{
    text-align:center;
    float:left;
    width: 309px;
    padding-right: 69px;
}
.images img{
      
    width:307px;
    height:200px;
} 
.images a{
    text-decoration: none;
    
}

.images p{
    margin-top: 22px;
    padding-top: 0px;
    display: inline;
    color: rgba(255, 255, 255, 255);
    text-transform: capitalize;
    font-family: Verdana, sans-serif;
    font-size: 18pt;    
}
.images:hover p:first-of-type{
    color: #f26522;
}
.images{
    position:relative;   
    width:307px;
    height:200px;

    
}

.hover-item--title{
    position:absolute;
    left:0;
    bottom:0px;
    right:0;
    top:130px;
    background: #f26522;
      display:none;
    color: #fefefe;
    width:305px;
    height:70px;
     border: red 1px solid;
    vertical-align: center;

    
}
.inner-p{
margin-top: 9px;
float: left;
}
.inner-p p:first-child{
    color: #fefefe!important;
    font-family: Verdana, sans-serif;
    font-size: 10pt; 
    padding-left: 21px 
}
.inner-p p:last-child{
    color: #fefefe!important;
    font-family: Verdana, sans-serif;
    font-size: 20pt; 
    padding-left: 21px 
}
.iner-link{
    margin-top: 33px;
    padding-left: 170px;
}
.iner-link::after{
    content: "  >"
}
.iner-link p{
    color: #fefefe !important;
    font-family: Verdana, sans-serif;
    font-size: 14pt; 
    text-align: left!important;
  
}
.hover-item--title::after {
    content:" . ";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0px;
}

.images:hover .hover-item--title{
    display:block;
}

        

.main::after {
    content:" . ";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0px;
 }
 .main1{
    text-align: center;
    margin-left: 157px;
    margin-top: 48px;
 }
 .images:hover p{
    color: #f26522;
    
}
 .main1::after {
    content:" . ";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0px;
 }
 .footer{
    font-family: Verdana, sans-serif;
    font-size: 12pt;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    margin-top: 96px;
 }
 .footer span{
text-transform: capitalize; 

}
