body
{
    width: 1480px;
}

.logo
{
    margin-top: 61px;
    font-family: 'Lato', sans-serif;
    margin-left: 101px;
}
.logo a
{
    color: #4bcaff;
    font-size: 80px;
    text-decoration: none;
    /*font-weight: bold;*/
    margin-left: 101px;
   
}
span
{
    color: #000000;
    font-size: 80px;
    text-decoration: none;
}
.navy
{
    border:1px solid #35444f; 
    width: 1280px;
    height: 69px;
    background-color: #35444f;
    margin-left: 101px;
    text-align: center;
    vertical-align: top;
       
}
.navy ul
{
    padding: 0px;
    margin: 0px;
}
.navy li
{
    display: inline-block;
    box-sizing: border-box;
    padding: 18px 0 18px 42px;
    margin: 0;
   
}
.navy li:hover{
    background-color:#222f3a;
}


.navy a
{
    
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    font-size: 24px;
    text-decoration: none;
    padding-left: 50px;
    
}
/*/.blockmain>div {
  display: inline-block;
   
}*/
.blockmain{
margin-left: 101px;
margin-top: 51px;
}
.menu {
    display: inline-block;
    vertical-align: top;
    margin-top: 0;
    border: 1px solid #35444f;
    width: 344px;
    /*height: 399px;*/
}
.menu ul{
    margin: 0px;
    padding: 0px;
}
.menu li{
list-style-type: none;
display: block;
padding: 18px;
box-sizing: border-box;
}
.menu a {
     font-family: 'Lato', sans-serif;
    font-size: 30px;
    text-decoration: none;
    color:#495863;
    font-weight: bold;
    text-transform: capitalize;
        
}
.menu li:hover{
    background-color: #dbdbdb;
    padding-left: 50px;
}
.picture {
    display: inline-block;
    border: 1px solid #35444f;
   width: 855px;
height: 529px;
margin-left: 52px;
box-sizing: border-box;
    padding-top: 48px;
    padding-left: 246px;
/*margin-top: 36px;*/
/*background-image: url(./image/crop@1X\ \(4\).png);*/
background-repeat: no-repeat;
/*background-position: center;*/
}
.picture img:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  .text p {
      font-size: 18px;
      font-family: 'Lato', sans-serif;
      margin-left: 526px;
      margin-right: 139px;
      text-align: left;
  }
.traynavy{
    border:1px solid #35444f; 
    width: 1280px;
    height: 69px;
    background-color:#b4b7ba;
    margin-left: 101px;
}
.treybut a{
    color: #0c1927;
    font-size: 28px;
    text-decoration: none;
    font-weight: bold;

}
.treybut li{
    display: inline-block;
    margin-left: 20px;
    
}
.traynavy>div{
    display: inline-block;
  
}
.coppy {
    color: #0c1927;
    font-size: 24px;
    font-weight: bold;
    margin-left: 140px;
    
}
.treybut a:hover {
color:#779eb1; 
}




