


dialog {
    margin-top: calc(25%);
    padding: 0px;
    width: 300px;
    height: fit-content;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    /* box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3); */
    }
dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.8);
  }
 
.modal-cont_content {
  color: #ffffff;
  padding: 10px;
  text-align: center;
  } 
  .modal-cont{
    
    background-color: #e74c3c;
    
    }
    .modal-cont_header{
        vertical-align: center;
        text-align: left;
        padding: 15px;
        padding: 0 auto;
        width: inherit;
        height: fit-content;
        background-color: #d44637;
        color: #ffffff;
    }
   
    .closeCross{
        cursor: pointer;
        float: right;
    }
    .btnAria:first-child{
        display: flex;
       padding: 10px;
    }
