.page{
    background-image:url(./images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}
    .hedder{
        height: 56px;
        width: 100vw;
        display: flex;
        flex-direction: row;
        align-items: center;
       background-color:rgba(0, 0, 0, 0.4);
    }
    .hedder-logo{
      text-transform: uppercase; 
      margin:auto 10.7%;
   font-size: 20pt;
   color: rgba(255, 255, 255, 255);
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   width: 1%;
      
}
.hedder-logo:hover{
    color:#3cb878;
}
    .sprites a{
        width: 24px;
        height:24px;
        background: url(./images/spritesheet.png);
        background-repeat:  no-repeat;
        display: inline-block;
        margin-left: 17%;
    }
/*.hedder{
    height: 56px;
    margin: 0 auto;
    background-color: linear-gradient( rgba( 0, 0,0, 0.5), rgba(0,0,0, 0.5))
}*/

.sprites{
    width: 16%;
    text-align: right;
    vertical-align: middle;
    margin-left: 39%;
       }
       .sprites>.callk{
background-position: -4px -1px;
}
.sprites>.callk:hover{
    background-position: -33px -1px;
 }
.sprites>.docks{
    background-position: -64px -1px;
    }
    .sprites>.docks:hover{
        background-position: -102px -1px;
     }
.sprites>.komp{
        background-position: -135px -1px;
 }
 .sprites>.komp:hover{
    background-position: -165px -1px;
 }
 
 .sprites > span::after{
     content: "";
     height: 19px;
     width: 1px;
     display: inline-block;
     border-left: rgba(250, 250, 250, 0.7) 0.4px solid;
     margin-left: 10%;
 }

.welcome{
    margin-left: 1.5rem;
   color: rgba(255, 255, 255, 255);
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.welcome a{
    color: #35865b;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.main{
    width: 444px;
    height: 584px;
    background-color: #ffffff;
    margin: calc((100vh - 56px - 584px) / 2) auto;
    border-radius: 15px;
   
}
.main-hed{
    width: 440px;
    margin: 0 0;
    display: flex;
    align-items: baseline;

}
.main-hed::before{
    content: "";
      width: 18px;
    height: 18px;
    background-color: #3cb878;
  
}
.main-hed :first-child{
    width: 24%;
    height: 0px;
    margin-left: 2.6rem;
    font-size: 20pt;
color: rgba(67, 67, 67, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }

.main-hed :last-child{
    height: 23px;
    margin-left: 11.5rem;
    font-size: 14pt;
    color: rgba(60, 184, 120, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
    /*text-decoration: underline;*/
    border-bottom: #35865b 1px solid;
}
.main-buttons{
    padding-left: 4rem;

}
.facebook {
width: 157px;
height: 47px;
background-color: #264b96;
display: inline-block;
border-radius: 5px;
vertical-align: top;


}
.facebook a{
    font-size: 15pt;
    font-family: Verdana, Geneva, Tahoma, serif;
     text-decoration: none;
     color: #ffffff;
     display: block;
     margin-top: 0.7rem;
     margin-left: 1.25rem;
     

}
.facebook a::before{
    content: "";
    display: inline-block;
       height: 15px;
background-image: url(./images/facebook1@1X.png);
background-repeat: no-repeat;
padding-left: 30px;
}

.google {
    width: 157px;
    height: 47px;
    background-color: #c3412c;
    display: inline-block;
    border-radius: 5px;
    margin-left: 0.5rem;

}
.google a{
    font-size: 15pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
    text-decoration: none;
    margin: 11px 13px;
    
    display: block;
}
.google a::before{
    content: "";
    display: inline-block;
    width: 25px;
    height: 16px;
background-image: url(./images/G+@1X.png);
background-repeat: no-repeat;
padding-left: 2.1rem;
}
.main-or{
    
    position: relative;
}

.main-or p{
  font-size: 14pt; 
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
  color: rgba(132, 132, 132, 255);
  text-align: center;
  
}

.main-or::before{
    content: "";
    position: absolute;
    left: 58px;
    top: 12px;
     width: 135px;
    height: 1px;
    border-bottom: 0.5px#eaeaea solid;
}
.main-or::after{
    content: "";
    position: absolute;
    top: 12px;
    left: 254px;
    width: 135px;
    height: 1px;
    border-bottom: 0.5px #eaeaea solid;
}

/*.main-forms input{
    margin: 9px auto;
    width: 322px;
   
    border: 0.5px #eaeaea solid;
}*/

.main-forms input {
    margin: 8px auto;
    height: 46px;
    width: 322px;
     color: #bebebe;
    text-align: left;
    font-size: 14pt;
    border: 0.5px #eaeaea solid;
    display: block;
    padding-left: 1rem;
    box-sizing: border-box;
}
   


.main-forms input:hover{
    box-shadow: 0 2px 6px rgba(0,0,0,0.2), 0 5px 6px rgba(0,0,0,0.2);
}
.checkbox {
   
    margin-left: 3.8rem;
    margin-top: 1rem;
    display: flex;

}
.checkbox input {
    height: 20px;
    width: 20px;
    margin-top: 14px;
    color: #bebebe;
    margin: 0px;
    
  }
  .checkbox p{
     margin: 0px;
    padding-left: 13px;
   
    color: #434343;
    font-size: 11pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .checkbox a{
    color: #70cb9c;
    font-size: 11pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    padding-left: 0.6rem;
  }
  .submit{
    width: 322px;
    height: 46px;
    margin-top: 1.5rem;
    margin-left: 3.8rem;
    background-color: #329a65;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
     color: rgba(255, 255, 255, 255);
    font-size: 16pt;
    border: 0.5px solid #329a65;
  }