
.itemList{
  display: flex;
  flex-wrap: wrap;
  color: rgb(70, 60, 60);
  font-family: 'Open Sans', sans-serif;
  /* justify-content: space-around; */
}
.item {
  margin-left: 10px;
  margin-bottom: 10px;
  width: 200px;
  border: gray 1px solid;
  border-radius: 3px;
  background-color: lightgray;
  text-align: center;
}
.item img {
  margin-top: 5px;
  text-align: center;
  width: 180px;
  height: 230px;
  background-color: white;
}
.item h2 {
  margin: 0px;
  margin-left: 10px;
  margin-bottom: 10px;
  text-align: left;
  
}

.article, .color{
  width: 125px;
  display: flex;
  justify-content: space-between;
  padding: 0px;
  margin: 0px;
  margin-left: 10px;
  margin-right: 20px; 
}
 .article :last-child{
  margin-left: 5px;
  font-weight: 700;
 
}
.price{
  display: flex;
  margin-left: 10px;
  font-weight: 700;
  font-size: 20px;
 }
 .price >div{
   margin-right: 5px;
 }

.color p {
  padding: 0px;
  margin: 0px; 
}
.priceBayArria{
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btnDitails {
  color: lightgray;
  height: 25px;
  background-color: darkslategray;
  border-radius: 3px;
  margin-right: 5px;
  font-size: 16px;
  padding: 3px;
  cursor: pointer;
}

.fa i{
 
}
/* 
dialog {
    margin-top: calc(25%);
    padding: 0px;
    width: 300px;
    height: fit-content;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    /* box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3); */
    /* } */
/* dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.8);
  }
 
.modal-cont_content {
  color: #ffffff;
  padding: 10px;
  text-align: center;
  } 
  .modal-cont{
    
    background-color: #e74c3c;
    
    }
    .modal-cont_header{
        vertical-align: center;
        text-align: left;
        padding: 15px;
        padding: 0 auto;
        width: inherit;
        height: fit-content;
        background-color: #d44637;
        color: #ffffff;
    }
   
    .closeCross{
        cursor: pointer;
        float: right;
    }
    .btnAria:first-child{
        display: flex;
       padding: 10px;
    } */ 
