.contConfBtns__themeRed{
    padding: 10px;
    width: inherit;
    display: flex;
    justify-content: space-around;
    & button{
        border-color:#b3382c;
        border-radius: 1px;
        background-color: #b3382c;
        color: whitesmoke;
    }
}
.contConfBtns__themePerple{
    padding: 10px;
    width: inherit;
    display: flex;
    justify-content: space-around;
    & button{
        border-color:#978c8b;
        border-radius: 1px;
        background-color: #978c8b;
        color: whitesmoke;
    }
}