dialog{
    width: 75%;
    position: fixed;
    top: 150px;
    left: 0;
    border: solid grey 1.5px;
}
dialog::backdrop{
    background-color: rgba($color: #000000, $alpha: 0.4);
}
.modal-cont_content{
   display: flex;
    justify-content: space-between;
    align-items: center;
 & img{
    height: 200px;
    width: 150px;
    border: lightgrey 1px solid;
    margin-right: 10px;}
}
.deskr{
    


& h2, h3{
    text-align: center;
}
& p{
    text-align: justify;
}
}
.closeCross{
    cursor: pointer;
    float: right;
}
.orderblock{
    display: flex;
    justify-content: space-around;
}
.priceModal{
    color: ivory;
    background-color: darkslategray;
    font-weight: bolder;
    padding: 5px;
    width: 50px;
    display: flex;
    justify-content: space-around;
}
.btnBay {
    color: lightgray;
    height: 25px;
    width: fit-content;
    background-color: darkslategray;
    border-radius: 3px;
    margin-right: 5px;
    font-size: 16px;
    padding: 3px;
    cursor: pointer;
    vertical-align: center;
  }